{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form method="POST">
    <fieldset>
        <legend>Please enter your information:</legend>

        {{ groceryItemForm.csrf_token }}
        {{ groceryItemForm.name.label() }}
        {{ groceryItemForm.name() }}
        {{ groceryItemForm.price.label() }}
        {{ groceryItemForm.price() }}
        {{ groceryItemForm.category.label() }}
        {{ groceryItemForm.category() }}
        {{ groceryItemForm.photo_url.label() }}
        {{ groceryItemForm.photo_url() }}
        {{ groceryItemForm.store.label() }}
        {{ groceryItemForm.store() }}
        {{ groceryItemForm.submit() }}

    </fieldset>
</form>


{% endblock %}